{% extends 'base.html' %}

{% block header %}
	<h1>
		{% block title %}Gallery{% endblock %}
	</h1>
{% endblock %}

{% block content %}
	{% for w in works %}
		<article class="post">
			<header>
				<div>
					<h1><a href="{{ url_for('gallery.detail', id=w.id) }}">{{ w['title'] }}</a></h1>
					<div class="about">
						<p>{{ w['description'] }}</p>

						{% if g.user['username'] == 'admin' %}
							<p>created: {{ w['created'] }}</p>
						{% endif %}

					{% if w['image'] %}
						<img class="work-img" src="{{ url_for('static', filename='images/' + w['image']) }}">
					{% else %}
						<p>Not Found</p>
					{% endif %}
					</div>
				</div>
			</header>
		</article>
		{% if not loop.last %}
			<hr>
		{% endif %}
	{% endfor %}
{% endblock %}
